.ui.borderless.topmenu.container.menu {
  background-color: white;
  border: none;
  box-shadow: none;
}

.background {
  background: url('http://courses.ics.hawaii.edu/ics314f20/morea/ui-frameworks/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 600px;
  color:white;
}


.ui.centered.body.image {
  padding: 200px;
}

.green-background {
  background-color: #004030;
  height:200px;
  color: white;
}